.cruises {
  padding-top: 110px;
  padding-bottom: 120px;
}

.cruises h2 {
  margin: 0;
  margin-bottom: 21px;

  text-align: center;
  color: $color-main-text;

  @include font(28px, 600, 42px);
}

.cruises__list,
.cruises__description-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.cruises__item {
  width: 23%;
  min-width: 260px;
  min-height: 386px;
}

.cruises__item img {
  width: 100%;
  height: 386px;
}

.cruises__item h3 {
  margin: 0;

  color: $color-cruises-card-title;

  @include font(18px, 500, 27px);
}

.cruises__description {
  display: none;

  background-color: $color-cruises-card-bg;
}

.cruises__description-item h4 {
  margin: 0;

  color: $color-cruises-card-title;

  @include font(14px, 500, 20px);
}

.cruises__description-item p {
  margin: 0;

  color: $color-cruises-card-text;

  @include font(14px, 400, 20px);
}

.cruises__description a {
  color: $color-main-text;

  background-color: $color-main-bg;

  @include font(14px, 600, 21px);
}
