.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__logo-link {
  display: flex;
  align-items: center;
}

.header-top__logo-svg {
  width: 78px;
  height: 38px;
}

.header-top__toggle {
  display: none;
}
