header {
  background-color: $color-header-bg;
  background-image: url("../img/main-banner-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-banner-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/main-banner-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-banner-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/main-banner-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-banner-mobile@2x.jpg");
    }
  }
}
