.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width) {
    position: relative;

    flex-direction: column;
    align-items: baseline;

    &--closed {
      .header-top__list {
        display: none;
      }

      .header-top__toggle {
        position: absolute;
        top: 22px;
        right: 15px;

        background-image: url("../img/icon-open.svg");

        fill: $color-primary-light;
      }
    }

    &--opened {
      margin-bottom: 5px;

      background-color: $color-primary-light;

      .header-top__logo-svg {
        fill: $color-primary-dark;
      }

      .header-top__toggle {
        position: absolute;
        top: 23px;
        right: 10px;

        background-image: url("../img/icon-close.svg");

        fill: $color-primary-dark;
      }
    }
  }
}

.header-top__logo-link {
  @media (max-width: $mobile-width) {
    align-self: flex-start;
  }
}

.header-top__nav {
  width: 80%;

  @media (max-width: $mobile-width) {
    align-self: flex-start;
  }
}

.header-top__list {
  padding-left: 0;

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 160px;
    padding: 31px 0 50px;
  }
}

.header-top__item {
  padding: 7px 0 7px 34px;

  @media (max-width: $tablet-width) {
    padding-left: 24px;
  }

  @media (max-width: $mobile-width) {
    padding: 11px 0 10px;
  }
}

.header-top__item .header-top__link {
  @include font(16px, 500, 20px);

  @media (max-width: $tablet-width) {
    @include font(14px, 500, 17px);
  }

  @media (max-width: $mobile-width) {
    color: $color-primary-dark;

    @include font(18px, 500, 22px);
  }
}


.header-top--nojs {
  @media (max-width: $mobile-width) {
    .header-top__toggle {
      display: none;
    }
  }
}
