.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width) {
    position: relative;

    flex-direction: column;
    align-items: baseline;

    &--closed {
      .header-top__list {
        display: none;
      }

      .header-top__toggle {
        position: absolute;
        top: 22px;
        right: 15px;

        background-image: url("../img/icon-open.svg");

        fill: $color-primary-light;
      }
    }

    &--opened {
      margin-bottom: 5px;

      background-color: $color-primary-light;


      .header-top__logo-svg {
        fill: $color-primary-dark;
      }

      .header-top__toggle {
        position: absolute;
        top: 23px;
        right: 10px;

        background-image: url("../img/icon-close.svg");

        fill: $color-primary-dark;
      }
    }
  }
}

.header-top--nojs {
  @media (max-width: $mobile-width) {
    .header-top__toggle {
      display: none;
    }
  }
}

.header-top__logo-svg {
  width: 70px;
  height: 40px;

  fill: $color-primary-light;

  @media (max-width: $tablet-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 42px;
    height: 22px;
  }
}
