.main-nav__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    width: 24px;
    height: 17px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 0;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;

  list-style: none;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.main-nav__link {
  color: $color-primary-light;

  transition: border-bottom 0.3s ease;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-primary-light;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    text-align: right;
  }

  @media (max-width: $mobile-width) {
    &:hover,
    &:focus {
      border-bottom: 1px solid $color-primary-dark;
    }
  }
}
