//color
$color-header-text: rgb(249, 251, 253);
$color-header-icon: rgb(249, 251, 253);
$color-main-text: rgb(1, 28, 64);
$color-main-icon: rgb(1, 28, 64);
$color-cruise-card-text: rgb(216, 216, 217);
$color-main-bg: rgb(249, 251, 253);
$color-header-bg: rgb(0, 60, 118);
$color-block-bg: rgb(215, 229, 244);

//font
$font-family: "Montserrat","Arial", sans-serif;

//size
$desktop-container-width: 1220px;
$mobile-width-only: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
