//color
$color-primary-light: rgb(249, 251, 253); //#f9fbfd
$color-primary-dark: rgb(1, 28, 64); //#011c40
$color-secondary-light: rgb(216, 216, 217); //#d8d8d9

$color-header-bg: rgb(0, 60, 118); //#003c76
$color-advantages-bg: rgb(227, 236, 246); //#e3ecf6
$color-booking-bg: rgb(183, 218, 250); //#b7dafa

//font
$font-family: "Montserrat", "Arial", sans-serif;

//size
$desktop-container-width: 1220px;
$mobile-width-only: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
